.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/public/old-middle-earth-map.png') no-repeat center center;
  background-size: cover;
}

@font-face {
  font-family: "Ringbearer";
  src: url("./assets/RingbearerMedium.ttf") format("truetype");
}

body {
  font-family: "Ringbearer", serif;
}
